# APPLICATION
# DIRECTORIES AND FILE PATHS
APP_GAMES_JSON_FILEPATH=data/games.json
APP_METHODS_JSON_FILEPATH=data/methods.json
APP_POKEMONS_JSON_DIRPATH=data/pokemon

# DATABASE
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=pokemon
